.m-size-medium{
    font-size: 14px !important;
}

/*Paddings*/
.m-padding-small{
    padding: 10px !important;
}

.m-padding-medium{
    padding:14px !important;
}

.m-padding-extra-large{
    padding: 20px !important;
}

.app-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

/*Layout*/
#app{
    .ant-layout{
        background-color: #ffffff;
    }
    .ant-layout-header{ 
        padding:0;
        background-color:inherit;
        height: 50px;
    }
}