.app-container_home {
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
}
  
.total-layout_home {
  margin-top: 10px;
}
.total-layout_home_sub{
  margin-top: 10px;
}

.total-frame_home {
  border: 1px solid #DCDFE6;
  padding: 20px;
  height: 100px;
}

.total-icon_home {
  color: #409EFF;
  width: 60px;
  height: 60px;
}

.total-title_home {
  position: relative;
  font-size:14px;
  color: #909399;
  left: 70px;
  top: -50px;
}

.total-value_home {
  position: relative;
  font-size: 18px;
  color: #606266;
  left: 70px;
  top: -50px;
}

.un-handle-layout_home {
  margin-top: 20px;
  border: 1px solid #DCDFE6;
}

.layout-title_home {
  color: #606266;
  padding: 15px 20px;
  background: #F2F6FC;
  font-weight: bold;
}

.un-handle-content_home {
  padding: 20px 40px;
}

.un-handle-item_home {
  border-bottom: 1px solid #EBEEF5;
}

.overview-layout_home {
  margin-top: 10px;
}
.overview-layout_home_sub {
  margin-top: 10px;
}

.overview-item-value_home {
  font-size: 20px;
  text-align: center;
}

.overview-item-title_home {
  margin-top: 10px;
  text-align: center;
}

.out-border_home {
  border: 1px solid #DCDFE6;
}

.statistics-layout_home {
  margin-top: 20px;
  border: 1px solid #DCDFE6;
}
.mine-layout_home {
  position: absolute;
  right: 140px;
  top: 107px;
  width: 250px;
  height: 235px;
}
.address-content_home{
  padding: 20px;
  font-size: 18px
}
.svg-icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.18em;
  fill: currentColor;
  overflow: hidden;
}